@import "bootstrap/dist/css/bootstrap.min.css";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-itim: "Itim", cursive;
  --font-sriracha: "Sriracha", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-itim); 
}


h1, h2, h3, h4 {
  font-family: var(--font-sriracha); 
}


.font-itim {
  font-family: var(--font-itim);
}
.font-sriracha {
  font-family: var(--font-sriracha);
}


.shoe-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  align-items: center;
  justify-items: center;
}

.shoe-img {
  width: 8vw;
  height: auto;
  max-width: 100px;
  min-width: 30px;
}


a.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav-link:hover {
  color: #4f46e5;
  text-decoration: underline;
  transform: translateX(3px);
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.bi:hover {
  transform: scale(1.25);
  transition: all 0.3s ease;
}
